<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Sistema de Pago</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">contacto</a></li>
      <li><a href="badges.html">SingUp</a></li>
      <li><a href="collapsible.html">Signin</a></li>
    </ul>
  </div>
</nav>

<!--<h1>SISTEMA DE PAGOS </h1>-->
<p></p>



<%= link_to 'Empleados', empleados_path %>

<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-wrapper">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">login</a></li>
      <li><a href="#">Signup</a></li>
      <li><a href="#">contactus</a></li>
    </ul>
  </div>
</nav>
-->
